
    <div class="container" ng-controller="DishDetailController">
        <div class="row row-content">
            <div class="col-xs-12">
              <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                            <img class="media-object img-thumbnail"
                             ng-src={{dish.image}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                             <span class="label label-danger">{{dish.label}}</span>
                             <span class="badge">{{dish.price | currency}}</span></h2>
                            <p>{{dish.description}}</p>
                        </div>
                     </div>
            </div>
            
            <div class="col-xs-9 col-xs-offset-1" >
                <h4 style="display: inline;line-height:2;"> Customer Comments </h4>
                <p style="display:inline;padding-left:15px;color:gray;">Sort by: 
                    <input style="border:solid 2px Gainsboro;" type="text" ng-model="predicate">
                </p>
                <blockquote ng-repeat="comment in dish.comments | orderBy:predicate">
                    <p>{{comment.rating}} Stars</p>
                    <p>{{comment.comment}}</p>
                    <footer>{{comment.author}} , {{comment.date | date:'MMM. dd, yyyy'}}</footer>
                </blockquote>
            </div>
          <!--form-->

          <div class="col-xs-12 col-sm-9" ng-controller="DishCommentController">
            <form class="form-horizontal" name="commentsForm" ng-submit="submitComment()" novalidate>
            <div class="col-xs-10 col-xs-offset-1" >
            <blockquote ng-show="(!commentsForm.author.$pristine || !commentsForm.comment.$pristine) && !commentsForm.$invalid">
                    <p>{{inputComment.rating}} Stars</p>
                    <p>{{inputComment.comment}}</p>
                    <footer>{{inputComment.author}} , {{inputComment.date | date:'MMM. dd, yyyy'}}</footer>
                </blockquote>
             </div>
              <div class="form-group" ng-class="{ 'has-error' : commentsForm.author.$error.required && !commentsForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
                    ng-model="inputComment.author" required>
                    <span ng-show="commentsForm.author.$error.required && !commentsForm.author.$pristine" class="help-block">Your name is required.</span>
                    </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label">Number of Stars</label>
                  <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" ng-model="inputComment.rating" id="inlineRadio1" value=1> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="inputComment.rating" id="inlineRadio2" value=2> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="inputComment.rating" id="inlineRadio3" value=3> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="inputComment.rating" id="inlineRadio3" value=4> 4
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="inputComment.rating" id="inlineRadio3" value=5 checked> 5
                        </label>
                  </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : commentsForm.comment.$error.required && !commentsForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="inputComment.comment" required></textarea>
                            <span ng-show="commentsForm.comment.$error.required && !commentsForm.comment.$pristine" class="help-block">Your Comment is required.</span>
                        </div>
               </div> 
               <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-primary" ng-disabled="commentsForm.$invalid">Submit Comment</button>
                        </div>
               </div>
        </form> 
        </div>  
        </div>
    </div>
